@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #6A6E77;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: blue;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: magenta;
}

a:active {
  color: green;
}

.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 80, 117);
  transition-duration: 0.5s;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: lightBlue;
}

.button:active {
  background-color: rgb(16, 77, 97);
}

@media (min-width: 1440px) {
  h1 {
    font-size: 3.75em;
    font-weight: 900;
  }
  h2 {
    font-size: 3.75em;
    font-weight: 900;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  h1 {
    font-size: 3.28125em;
  }
  h2 {
    font-size: 3.28125em;
  }
  h3 {
    font-size: 17.5px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 3.125em;
  }
  h2 {
    font-size: 3.125em;
  }
  h3 {
    font-size: 16.6666666667px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 16px;
  }
}
html {
  line-height: normal;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

ol {
  padding-left: 20px;
}
ol li:not(:last-child) {
  padding-bottom: 15px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  transition-duration: 0.5s !important;
}

.header-block {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1200px) {
  .header-block {
    gap: 37.1428571429px;
  }
}
@media (max-width: 992px) {
  .header-block {
    gap: 34.2857142857px;
  }
}
@media (max-width: 768px) {
  .header-block {
    gap: 31.4285714286px;
  }
}
@media (max-width: 576px) {
  .header-block {
    gap: 28.5714285714px;
  }
}
@media (max-width: 480px) {
  .header-block {
    gap: 25.7142857143px;
  }
}
@media (max-width: 360px) {
  .header-block {
    gap: 22.8571428571px;
  }
}
@media (max-width: 320px) {
  .header-block {
    gap: 20px;
  }
}
.header-block__suptitle, .header-block__text {
  font-size: 25px;
  color: #6A6E77;
}
@media (max-width: 1200px) {
  .header-block__suptitle, .header-block__text {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .header-block__suptitle, .header-block__text {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .header-block__suptitle, .header-block__text {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .header-block__suptitle, .header-block__text {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .header-block__suptitle, .header-block__text {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .header-block__suptitle, .header-block__text {
    font-size: 19px;
  }
}
@media (max-width: 320px) {
  .header-block__suptitle, .header-block__text {
    font-size: 18px;
  }
}
.header-block__suptitle.lite {
  color: #E3E6EC;
}
.header-block__title {
  font-size: 60px;
  color: #1C1F25;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .header-block__title {
    font-size: 55.4285714286px;
  }
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 50.8571428571px;
  }
}
@media (max-width: 768px) {
  .header-block__title {
    font-size: 46.2857142857px;
  }
}
@media (max-width: 576px) {
  .header-block__title {
    font-size: 41.7142857143px;
  }
}
@media (max-width: 480px) {
  .header-block__title {
    font-size: 37.1428571429px;
  }
}
@media (max-width: 360px) {
  .header-block__title {
    font-size: 32.5714285714px;
  }
}
@media (max-width: 320px) {
  .header-block__title {
    font-size: 28px;
  }
}
.header-block__title.lite {
  color: #FFFFFF;
}
.header-block__text {
  font-size: 25px;
  color: #6A6E77;
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .header-block__text {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .header-block__text {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .header-block__text {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .header-block__text {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .header-block__text {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .header-block__text {
    font-size: 19px;
  }
}
@media (max-width: 320px) {
  .header-block__text {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .header-block__text {
    margin-top: 37.1428571429px;
  }
}
@media (max-width: 992px) {
  .header-block__text {
    margin-top: 34.2857142857px;
  }
}
@media (max-width: 768px) {
  .header-block__text {
    margin-top: 31.4285714286px;
  }
}
@media (max-width: 576px) {
  .header-block__text {
    margin-top: 28.5714285714px;
  }
}
@media (max-width: 480px) {
  .header-block__text {
    margin-top: 25.7142857143px;
  }
}
@media (max-width: 360px) {
  .header-block__text {
    margin-top: 22.8571428571px;
  }
}
@media (max-width: 320px) {
  .header-block__text {
    margin-top: 20px;
  }
}

.products-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.products-col__item {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .products-col__item {
    gap: 28.5714285714px;
  }
}
@media (max-width: 992px) {
  .products-col__item {
    gap: 27.1428571429px;
  }
}
@media (max-width: 768px) {
  .products-col__item {
    gap: 25.7142857143px;
  }
}
@media (max-width: 576px) {
  .products-col__item {
    gap: 24.2857142857px;
  }
}
@media (max-width: 480px) {
  .products-col__item {
    gap: 22.8571428571px;
  }
}
@media (max-width: 360px) {
  .products-col__item {
    gap: 21.4285714286px;
  }
}
@media (max-width: 320px) {
  .products-col__item {
    gap: 20px;
  }
}
.products-col__title {
  font-size: 30px;
  color: #1C1F25;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .products-col__title {
    font-size: 28.8571428571px;
  }
}
@media (max-width: 992px) {
  .products-col__title {
    font-size: 27.7142857143px;
  }
}
@media (max-width: 768px) {
  .products-col__title {
    font-size: 26.5714285714px;
  }
}
@media (max-width: 576px) {
  .products-col__title {
    font-size: 25.4285714286px;
  }
}
@media (max-width: 480px) {
  .products-col__title {
    font-size: 24.2857142857px;
  }
}
@media (max-width: 360px) {
  .products-col__title {
    font-size: 23.1428571429px;
  }
}
@media (max-width: 320px) {
  .products-col__title {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .products-col__title {
    margin-bottom: 18.5714285714px;
  }
}
@media (max-width: 992px) {
  .products-col__title {
    margin-bottom: 17.1428571429px;
  }
}
@media (max-width: 768px) {
  .products-col__title {
    margin-bottom: 15.7142857143px;
  }
}
@media (max-width: 576px) {
  .products-col__title {
    margin-bottom: 14.2857142857px;
  }
}
@media (max-width: 480px) {
  .products-col__title {
    margin-bottom: 12.8571428571px;
  }
}
@media (max-width: 360px) {
  .products-col__title {
    margin-bottom: 11.4285714286px;
  }
}
@media (max-width: 320px) {
  .products-col__title {
    margin-bottom: 10px;
  }
}
.products-col__text {
  font-size: 25px;
}
@media (max-width: 1200px) {
  .products-col__text {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .products-col__text {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .products-col__text {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .products-col__text {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .products-col__text {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .products-col__text {
    font-size: 19px;
  }
}
@media (max-width: 320px) {
  .products-col__text {
    font-size: 18px;
  }
}
.products-col__icon img {
  width: 60px;
  height: 60px;
  min-width: 60px;
}
@media (max-width: 1200px) {
  .products-col__icon img {
    width: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .products-col__icon img {
    width: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .products-col__icon img {
    width: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .products-col__icon img {
    width: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .products-col__icon img {
    width: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .products-col__icon img {
    width: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .products-col__icon img {
    width: 30px;
  }
}
@media (max-width: 1200px) {
  .products-col__icon img {
    height: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .products-col__icon img {
    height: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .products-col__icon img {
    height: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .products-col__icon img {
    height: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .products-col__icon img {
    height: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .products-col__icon img {
    height: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .products-col__icon img {
    height: 30px;
  }
}
@media (max-width: 1200px) {
  .products-col__icon img {
    min-width: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .products-col__icon img {
    min-width: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .products-col__icon img {
    min-width: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .products-col__icon img {
    min-width: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .products-col__icon img {
    min-width: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .products-col__icon img {
    min-width: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .products-col__icon img {
    min-width: 30px;
  }
}

.section__content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  max-width: 1300px;
}
@media (max-width: 1440px) {
  .section__content {
    max-width: 1200px;
  }
}

.section__one .section__content {
  background: url("../../images/section-one/Image.jpg");
  background-size: cover;
  max-width: 1300px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 200px;
}
@media (max-width: 1440px) {
  .section__one .section__content {
    width: 80%;
    height: 400px;
    padding-left: 100px;
  }
}
@media (max-width: 992px) {
  .section__one .section__content {
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }
}
.section__one .section__content .header-block {
  max-width: 467px;
}
@media (max-width: 992px) {
  .section__one .section__content .header-block {
    padding: 10px;
    margin: 0 auto;
  }
}
.section__one .section__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 31, 37, 0.6); /* #1C1F25 with 60% opacity */
  z-index: 1;
}

@media (max-width: 992px) {
  .section__two {
    position: relative;
  }
}
.section__two .section__content {
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1300px;
  gap: 60px;
}
@media (max-width: 992px) {
  .section__two .section__content {
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .section__two .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__two .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__two .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__two .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__two .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__two .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__two .section__content {
    gap: 30px;
  }
}
@media (max-width: 1440px) {
  .section__two .section__content {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .section__two .section__content {
    position: static;
  }
}
@media (max-width: 992px) {
  .section__two .section__content .header-block {
    max-width: 50%;
  }
}
@media (max-width: 568px) {
  .section__two .section__content .header-block {
    max-width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 568px) {
  .section__two .section__content {
    flex-direction: column;
  }
}

.section-two__img {
  width: 600px;
  height: auto;
}
@media (max-width: 1440px) {
  .section-two__img {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .section-two__img {
    width: 400px;
  }
}
@media (max-width: 992px) {
  .section-two__img {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .section-two__img {
    top: auto;
    bottom: 0;
  }
}
@media (max-width: 568px) {
  .section-two__img {
    position: static;
  }
}

@media (max-width: 992px) {
  .section__three {
    position: relative;
  }
}
.section__three .section__content {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  gap: 60px;
}
@media (max-width: 992px) {
  .section__three .section__content {
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .section__three .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__three .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__three .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__three .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__three .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__three .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__three .section__content {
    gap: 30px;
  }
}
@media (max-width: 1440px) {
  .section__three .section__content {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .section__three .section__content {
    flex-direction: column-reverse;
  }
}
.section__three .section__content .header-block {
  width: 55%;
}
@media (max-width: 992px) {
  .section__three .section__content .header-block {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 568px) {
  .section__three .section__content .header-block {
    max-width: 100%;
    flex-direction: column;
  }
}
.section__three-img {
  max-width: 500px;
  height: 100%;
  width: auto;
}
@media (max-width: 1200px) {
  .section__three-img {
    max-width: 350px;
  }
}
@media (max-width: 992px) {
  .section__three-img {
    max-width: 100%;
  }
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projects__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__bar {
  width: 100%;
  background-color: #E3E6EC;
  position: relative;
  height: 10px;
}
.projects__bar-percent {
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1C1F25;
  z-index: 1;
}
.projects__percent {
  font-weight: bold;
}

@media (max-width: 992px) {
  .section__four {
    position: relative;
  }
}
.section__four .section__content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  gap: 60px;
}
@media (max-width: 992px) {
  .section__four .section__content {
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .section__four .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__four .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__four .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__four .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__four .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__four .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__four .section__content {
    gap: 30px;
  }
}
@media (max-width: 1440px) {
  .section__four .section__content {
    width: 80%;
    margin: 0 auto;
  }
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.products__title {
  color: #1c1f25;
  font-size: 30px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .products__title {
    font-size: 29.4285714286px;
  }
}
@media (max-width: 992px) {
  .products__title {
    font-size: 28.8571428571px;
  }
}
@media (max-width: 768px) {
  .products__title {
    font-size: 28.2857142857px;
  }
}
@media (max-width: 576px) {
  .products__title {
    font-size: 27.7142857143px;
  }
}
@media (max-width: 480px) {
  .products__title {
    font-size: 27.1428571429px;
  }
}
@media (max-width: 360px) {
  .products__title {
    font-size: 26.5714285714px;
  }
}
@media (max-width: 320px) {
  .products__title {
    font-size: 26px;
  }
}
.products__text {
  padding-top: 8px;
  color: #6a6e77;
  font-size: 25px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 45px;
}
@media (max-width: 1200px) {
  .products__text {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .products__text {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .products__text {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .products__text {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .products__text {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .products__text {
    font-size: 19px;
  }
}
@media (max-width: 320px) {
  .products__text {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .products__text {
    line-height: 42.1428571429px;
  }
}
@media (max-width: 992px) {
  .products__text {
    line-height: 39.2857142857px;
  }
}
@media (max-width: 768px) {
  .products__text {
    line-height: 36.4285714286px;
  }
}
@media (max-width: 576px) {
  .products__text {
    line-height: 33.5714285714px;
  }
}
@media (max-width: 480px) {
  .products__text {
    line-height: 30.7142857143px;
  }
}
@media (max-width: 360px) {
  .products__text {
    line-height: 27.8571428571px;
  }
}
@media (max-width: 320px) {
  .products__text {
    line-height: 25px;
  }
}
@media (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section__five .section__content {
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  gap: 60px;
}
@media (max-width: 992px) {
  .section__five .section__content {
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .section__five .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__five .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__five .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__five .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__five .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__five .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__five .section__content {
    gap: 30px;
  }
}
@media (max-width: 1440px) {
  .section__five .section__content {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .section__five .section__content .header-block {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .section__five .section__content .header-block {
    max-width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .section__five .section__content {
    flex-direction: column;
    overflow: hidden;
  }
}

.section__img {
  width: auto;
}
@media (max-width: 568px) {
  .section__img {
    width: 100%;
    height: auto;
  }
}

.section__images {
  display: flex;
  flex-direction: column;
}

.section__six .section__content {
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 1300px;
  gap: 60px;
}
@media (max-width: 992px) {
  .section__six .section__content {
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .section__six .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__six .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__six .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__six .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__six .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__six .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__six .section__content {
    gap: 30px;
  }
}
@media (max-width: 1440px) {
  .section__six .section__content {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .section__six .section__content .header-block {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .section__six .section__content .header-block {
    max-width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .section__six .section__content {
    flex-direction: column;
    overflow: hidden;
  }
}
.section__six .header-block {
  max-width: 460px;
}
@media (max-width: 1200px) {
  .section__six .header-block {
    max-width: 100%;
  }
}

.section__seven .section__content {
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 1300px;
  gap: 60px;
}
@media (max-width: 992px) {
  .section__seven .section__content {
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .section__seven .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__seven .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__seven .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__seven .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__seven .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__seven .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__seven .section__content {
    gap: 30px;
  }
}
@media (max-width: 1440px) {
  .section__seven .section__content {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .section__seven .section__content .header-block {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .section__seven .section__content .header-block {
    max-width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .section__seven .section__content {
    flex-direction: column;
    overflow: hidden;
  }
}
.section__seven-img {
  max-width: 500px;
}
@media (max-width: 992px) {
  .section__seven-img {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .section__seven-img {
    width: 100%;
    max-width: 100%;
  }
}

.section__eight .section__content {
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1200px) {
  .section__eight .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__eight .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__eight .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__eight .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__eight .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__eight .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__eight .section__content {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .section__eight .section__content {
    flex-direction: column-reverse;
  }
}
.section__eight-img {
  max-width: 500px;
}
@media (max-width: 992px) {
  .section__eight-img {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .section__eight-img {
    width: 100%;
    max-width: 100%;
  }
}

.counter {
  margin-top: 30px;
  display: flex;
  gap: 60px;
}
.counter__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.counter__label {
  font-size: 25px;
}
@media (max-width: 1200px) {
  .counter__label {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .counter__label {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .counter__label {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .counter__label {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .counter__label {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .counter__label {
    font-size: 19px;
  }
}
@media (max-width: 320px) {
  .counter__label {
    font-size: 18px;
  }
}

.section__nine .section__content {
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 60px;
}
@media (max-width: 1200px) {
  .section__nine .section__content {
    gap: 55.7142857143px;
  }
}
@media (max-width: 992px) {
  .section__nine .section__content {
    gap: 51.4285714286px;
  }
}
@media (max-width: 768px) {
  .section__nine .section__content {
    gap: 47.1428571429px;
  }
}
@media (max-width: 576px) {
  .section__nine .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 480px) {
  .section__nine .section__content {
    gap: 38.5714285714px;
  }
}
@media (max-width: 360px) {
  .section__nine .section__content {
    gap: 34.2857142857px;
  }
}
@media (max-width: 320px) {
  .section__nine .section__content {
    gap: 30px;
  }
}
.section__nine .section__content .header-block {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .section__nine .section__content .header-block {
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section__nine .section__content {
    flex-direction: column;
  }
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  gap: 20px;
  width: 85%;
}
@media (max-width: 768px) {
  .section__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
}
.section__grid-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 430px;
}
.section__grid-title {
  font-weight: bold;
  color: #1C1F25;
  margin-bottom: 20px;
}
.section__grid-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section__grid-body--right {
  align-items: flex-end;
  text-align: right;
}
.section__grid-body--left {
  align-items: flex-start;
  text-align: left;
}

.section__img {
  width: 100%;
}

.section__ten {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section__ten .section__content {
  max-width: 1260px;
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__ten .section__column {
  max-width: 390px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section__ten .section__column {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.section__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  .section__body {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 480px;
  }
}

.section__image {
  max-height: 500px;
}
@media (max-width: 1200px) {
  .section__image {
    max-height: 400px;
  }
}
@media (max-width: 768px) {
  .section__image {
    max-width: 100%;
    max-height: fit-content;
  }
}

.column {
  padding: 10px;
}
.column__title {
  font-weight: bold;
  color: #1C1F25;
  margin-bottom: 20px;
}

.section__eleven {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section__eleven .section__content {
  max-width: 1260px;
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1200px) {
  .section__eleven .section__content {
    gap: 54.2857142857px;
  }
}
@media (max-width: 992px) {
  .section__eleven .section__content {
    gap: 48.5714285714px;
  }
}
@media (max-width: 768px) {
  .section__eleven .section__content {
    gap: 42.8571428571px;
  }
}
@media (max-width: 576px) {
  .section__eleven .section__content {
    gap: 37.1428571429px;
  }
}
@media (max-width: 480px) {
  .section__eleven .section__content {
    gap: 31.4285714286px;
  }
}
@media (max-width: 360px) {
  .section__eleven .section__content {
    gap: 25.7142857143px;
  }
}
@media (max-width: 320px) {
  .section__eleven .section__content {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .section__eleven .section__content {
    flex-direction: column-reverse;
  }
}
.section__eleven .section__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section__twelve {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__twelve .section__content {
  width: 90%;
  background: url("../../images/section-twelve/Image.jpg");
  background-size: cover;
  max-width: 1300px;
  height: 600px;
  position: relative;
  display: flex;
  padding: 30px;
}
@media (max-width: 1440px) {
  .section__twelve .section__content {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .section__twelve .section__content {
    width: 100%;
  }
}
.section__twelve .section__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 31, 37, 0.6); /* #1C1F25 with 60% opacity */
  z-index: 1;
}
.section__twelve .counter {
  z-index: 2;
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.section__twelve .counter__item {
  text-align: center;
}
@media (max-width: 992px) {
  .section__twelve .counter {
    grid-template-columns: repeat(1, 1fr);
  }
}